
<section class="background-radial-gradient overflow-hidden" id="section">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1
            class="my-5 display-5 fw-bold ls-tight"
            style="color: hsl(218, 81%, 95%)"
          >
            Agregar <br />
            <span style="color: hsl(218, 81%, 75%)"
              >Nueva habilidad</span
            >
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Completa los datos
            <br />Todos son obligatorios
            <br />Los colores debe tener el formato hexadecimal con el # como prefijo.
            <br />En imagen se debe colocar un URL, se recomienda utilizar ImgBB.
            <br /><a href="https://imgbb.com">https://imgbb.com</a>

          </p>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div
            id="radius-shape-1"
            class="position-absolute rounded-circle shadow-5-strong"
          ></div>
          <div
            id="radius-shape-2"
            class="position-absolute shadow-5-strong"
          ></div>
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
              <form #f="ngForm" (ngSubmit)="onNewSkill()" novalidate>
                <!-- Exp img -->
                <div class="form-outline mb-4">
                  <input 
                    type = "string"
                    id = "imgSkill"
                    name = "imgSkill"
                    class="form-control"
                    [(ngModel)] = "imgSkill"
                    required
                  />
                  <label class="form-label" for="imgSkill">Imagen Habilidad</label>
                </div>
                <!-- business  -->
                <div class="form-outline mb-4">
                  <input
                    type = "string"
                    id = "colorIn"
                    name = "colorIn"
                    class="form-control"
                    [(ngModel)] = "colorIn"
                    required
                  />
                  <label class="form-label" for="colorIn">Color Fijo</label>
                </div>
                <!-- position  -->
                <div class="form-outline mb-4">
                    <input 
                      type = "string"
                      id = "colorOut"
                      name = "colorOut"
                      class="form-control"
                      [(ngModel)] = "colorOut"
                      required
                    />
                    <label class="form-label" for="colorOut">Color Barra Progreso</label>
                  </div>
                  <!-- yearIn  -->
                  <div class="form-outline mb-4">
                    <input 
                      type = "text"
                      id = "nameSkill"
                      name = "nameSkill"
                      class="form-control"
                      [(ngModel)] = "nameSkill"
                      required
                    />
                    <label class="form-label" for="nameSkill">Nombre Habilidad</label>
                  </div>
                  <!-- yearOut  -->
                  <div class="form-outline mb-4">
                    <input 
                      type = "number"
                      id = "progress"
                      name = "progress"
                      class="form-control"
                      [(ngModel)] = "progress"
                      required
                    />
                    <label class="form-label" for="progress">% de Progreso</label>
                  </div>
                <!-- Submit button -->
                <div class="container">
                  <button
                    type="submit"
                    class="btn btn-primary btn-block mb-4"
                    id="loginButton"
                    >Agregar</button>
                  <button (click)="volver()"
                    class="btn btn-primary btn-block mb-4"
                    id="volverButton"
                    >Volver</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
