<div class="row">
    <div id="title">
        <H1>Proyectos Realizados</H1>
        <button class="icon-btn add-btn" routerLink="/newProject" *ngIf="isLogged">
            <div class="add-icon"></div>
            <div class="btn-txt">Agregar Proyecto</div>
        </button>
    </div>
    <div class="btn btn-outline-primary container" *ngFor="let project of project">
        <div>
            <h4>{{project.nameProject}}</h4>
            <p>{{project.descriptionProject}}</p>
        </div>
        <div>
            <a href="{{project.linkProject}}"
            target="_blank">
                <img src="{{project.imgProject}}"
                id="icon-github"
                [hspace]="5">
            </a>
        </div>
        <div *ngIf="isLogged">
            <button type="button" class="btn btn-primary" routerLink="/editProject/{{project.id}}"><i class="bi bi-pencil-square">Editar</i></button>
            <button type="button" class="btn btn-danger"><i class="bi bi-trash" (click)="onDeletePro(project.id)">Eliminar</i></button>
        </div>
    </div>
</div>