<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden" id="section">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1
            class="my-5 display-5 fw-bold ls-tight"
            style="color: hsl(218, 81%, 95%)"
          >
            ERROR 404 <br />
            <span style="color: hsl(218, 81%, 75%)"
              >No se encontro la pagina</span
            >
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Te gusta la idea de tener un porfolio online?
            <br />Podes tener tuyo de forma muy sencilla. <br />Ponete en contacto
            por correo y consulta las opciones disponibles. <br />No pierdas esta
            gran oportunidad de conseguir, diseñar o codificar tu porfolio.
          </p>
          <button (click)="volver()"
          class="btn btn-primary btn-block mb-4"
          id="volverButton"
        >
          Volver
        </button>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
                <img src="https://i.ibb.co/6bvvH1Y/xx.png">
            </div>
          </div>
        </div>
  </section>
